@keyframes bounce {
    from, 30%, 60%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    30% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    60% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}