@media (max-width: 992px) {
	body {
		font-size: 45%;
		height: auto;
	}

	.introduction {
		padding: 2rem 0;

		&__content {
			position: static;
			transform: none;
			flex-direction: column;
		}

		&__text {
			padding-left: 0;
			margin-bottom: 2rem;
		}

		&__contact {
			padding-right: 0;
		}
	}	
}