@import "helpers";
@import "animations";

$dark-blue: #032E46;
$blue: #043D5D;
$dark-green: #0F595E;
$slighly-dark-green: #1F7E5D;
$green: #23B684;

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	font-size: 62.5%;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}
.introduction {
	position: relative;
	background-color: $green;
	height: 100%;

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
	}

	&__profilePic {
		align-self: center;
		margin: 0;
		margin: 0 2rem;
		flex-basis: 200px;
		
		> img {
			@extend %circle-shaped;
			@extend %zero-opacity;
			display: block;
			margin: 0 auto;
			width: 10rem;
			border: 0.5em solid #fff;
			box-shadow: 0px 3px $slighly-dark-green;

			animation-name: bounce;
			animation-duration: 1s;
			animation-delay: 1s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}
	&__text, &__contact {
		flex-grow: 1;
		flex-basis: auto;
		color: #fff;
		font-size: 2em;
		text-shadow: 1px 1px $slighly-dark-green;
		text-align: center;
	}
	&__text {
		margin: 0;

		> strong {
			@extend %zero-opacity;
			text-shadow: 0 3px $slighly-dark-green;
			font-size: 3em;

			animation-name: fadeInFromLeft;
			animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
			animation-duration: 700ms;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;

			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					animation-delay: (200ms * $i);
				}
			}
		}
		> span {
			@extend %zero-opacity;

			animation-name: fadeIn;
			animation-timing-function: ease-out;
			animation-duration: 1s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			animation-delay: 1s;

			font-weight: 100;
		}
		> strong, > span {
			display: block;
			line-height: 90%;
		}
	}

	&__contact {
		color: #fff;

		> strong, span {
			@extend %zero-opacity;

			animation-name: fadeIn;
			animation-timing-function: ease-out;
			animation-duration: 1s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			animation-delay: 1s;
		}

		> strong {
			font-size: 2rem;
			margin-bottom: 1rem;
			text-shadow: 0 2.5px $slighly-dark-green;
		}
			
		> span {
			font-weight: 100;
			display: block;
		}
	}

	&__socialMedia {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;
		height: 3.5rem;

		> a {
			@extend %zero-opacity;
			margin: 0 0.5rem;
			transition: margin 200ms;

			animation: bounce 500ms 1;
			animation-fill-mode: forwards;
			@for $i from 1 through 5 {
				&:nth-of-type(#{$i}) {
					animation-delay: (1200ms + (50ms * $i));
				}
			}

			> svg {
				@extend %circle-shaped;
				box-shadow: 0 1px $slighly-dark-green;
				fill: #fff;
				width: 2.5rem;
				transition: all 200ms;
			}

			&:hover {
				margin: 0;
				> svg {
					background-color: #fff;
					width: 3.5rem;
				}
			}
		}
		
	}

	&__facebook:hover > svg {
		fill: #3b5998;
	}

	&__twitter:hover > svg {
		fill: #55acee;
	}

	&__linkedin:hover > svg {
		fill: #0077b5;
	}

	&__github:hover > svg {
		fill: #4183c4;
	}

	&__mail:hover > svg {
		fill: $blue;
	}

	&__resume {
		@extend %zero-opacity;

		animation-name: fadeIn;
		animation-timing-function: ease-out;
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		animation-delay: 1s;

		color: #fff;
		font-weight: 100;
		text-shadow: 1px 1px $slighly-dark-green;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}

		> svg {
			width: 1rem;
			fill: #fff;
		}
	}
}

.ie-helper {
	display: none;
}