.main-info {
	flex-flow: column nowrap;
}

.top-profile-pic {
	display: block;
	margin: 0 0 2em 0;
	display: flex;
	align-items: center;

	img {
		border-radius: 50%;
		height: 10em;
	}
}

.info {
	border: none;
	text-align: center;

	svg {
		display: inline;
	}
}

.greetings, .info {
	width: auto;
	margin: 0;
	padding: 0;
}

.greetings {
	text-align: center;
	margin-bottom: 2em;
	order: 1;
	
	p {
		flex: 1 1 auto;
		align-self: stretch;
		margin-bottom: 10px;
	}
}

.contact-profile-pic {
	display: none;
}

.personal-info {
	margin-bottom: 2em;
	.social-icons {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;

		.svg-social-icon {
			margin: 0;
		}
	}
}